{% extends 'base.html' %} {% block title %}Contact{% endblock %} {% block
content %}
<div
  class="container mt-5 main-container d-flex flex-column align-items-center"
>
  <h3 class="display-5 fw-bold text-center text-white">
    Contact Pass<span class="orange-text">Genix</span>
  </h3>

  <div class="form-container mt-5 p-3">
    <p class="text-white lead fw-bold text-center">Contact Form</p>
    <hr>

    <form class="row g-3">
        <div class="col-md-6">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name">
        </div>
        <div class="col-md-6">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name">
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="">
        </div>
        <div class="col-12">
            <label for="query" class="form-label">Query</label>
            <textarea class="form-control" id="query" rows="3"></textarea>
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-light contact-btn w-100">Sign in</button>
        </div>
      </form>
  </div>

  <div class="guidelines-container text-dark mt-5 mb-3 p-3">
    <p class="lead fw-bold text-center">
      Guidelines for creating the best password:
    </p>
    <ul>
      <li>
        Be at least 12 characters long but 14 or more is generally better.
      </li>
      <li>
        Include a mix of uppercase letters, lowercase letters, numbers and
        special characters.
      </li>
      <li>
        Avoid using common words such as names, birthdates or common words found
        in dictionaries.
      </li>
      <li>
        Use a combination of random characters to make the password less
        predictable.
      </li>
      <li>
        Avoid password information such as your username, email address, name or
        any publicly available about yourself.
      </li>
      <li>Avoid common patterns for example “123456” or “qwerty”.</li>
    </ul>
  </div>
</div>
{% endblock %}
