{% extends 'base.html' %}

{% block title %}Verify Password{% endblock %}

{% block content %}
      <div
        class="container mt-5 main-container d-flex flex-column align-items-center"
      >
        <h3 class="display-5 fw-bold text-center text-white">
          Verify Your <span class="orange-text">Password</span> Below
        </h3>
        <form
          action="{{ url_for('verify') }}"
          method="POST"
          class="w-100 d-flex flex-column justify-content-center align-items-center"
        >
          <input
            type="text"
            class="form-control border-0 mt-2"
            name="password"
            value="{{ password }}"
          />
          <div class="d-grid gap-2 d-md-block mt-4">
            <button class="btn btn-light border-0 generate-btn" type="submit">
              Verify
            </button>
          </div>
        </form>
        {% if result != None %}
        <div class="result-container mt-5 p-3 text-white d-flex justify-content-center align-items-center">
            <p class="m-0 p-0 fw-bold">{{ result }}</p>
        </div>
        {% endif %}
  
        <div class="guidelines-container text-dark mt-5 mb-3 p-3">
          <p class="lead fw-bold text-center">
            Guidelines for creating the best password:
          </p>
          <ul>
            <li>
              Be at least 12 characters long but 14 or more is generally better.
            </li>
            <li>
              Include a mix of uppercase letters, lowercase letters, numbers and
              special characters.
            </li>
            <li>
              Avoid using common words such as names, birthdates or common words
              found in dictionaries.
            </li>
            <li>
              Use a combination of random characters to make the password less
              predictable.
            </li>
            <li>
              Avoid password information such as your username, email address,
              name or any publicly available about yourself.
            </li>
            <li>Avoid common patterns for example “123456” or “qwerty”.</li>
          </ul>
        </div>
      </div>
{% endblock %}
